* {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

html .card-content .card-content-inner p,
body .card-content .card-content-inner p {
  width: 100%;
}

html .card-content .card-content-inner .button-box,
body .card-content .card-content-inner .button-box {
  display: flex;
  justify-content: flex-end;
}

html .card-content .card-content-inner .button-box button,
body .card-content .card-content-inner .button-box button {
  margin-left: 10px;
}

html .mask-box,
body .mask-box {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

html .mask-box .mask-bg,
body .mask-box .mask-bg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

html .mask-box .mask-content,
body .mask-box .mask-content {
  width: 80%;
  height: 120px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

html .mask-box .mask-content p,
body .mask-box .mask-content p {
  padding: 8px;
  color: #0894ec;
}

html .mask-box .mask-content button,
body .mask-box .mask-content button {
  width: 100px;
  margin: 10px;
  margin-top: -15px;
}

html .footer-box,
body .footer-box {
  width: 100vw;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

html .footer-box li,
body .footer-box li {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 80px;
}

html .circle.circle-success,
body .circle.circle-success {
  border-color: green;
  color: green;
}

html .circle.circle-success.circle-fill,
body .circle.circle-success.circle-fill {
  background: green;
  color: white;
}

html .circle.circle-primary,
body .circle.circle-primary {
  border-color: blue;
  color: blue;
}

html .circle.circle-primary.circle-fill,
body .circle.circle-primary.circle-fill {
  background: blue;
  color: white;
}

html .circle.circle-danger,
body .circle.circle-danger {
  border-color: red;
  color: red;
}

html .circle.circle-danger.circle-fill,
body .circle.circle-danger.circle-fill {
  background: red;
  color: white;
}
